<!-- display tool was not found in case of !tool_info -->
<div class="container">
  <div class="alert alert-success" [@fade]="isActionSucceed">
    {{ action_msg }}
  </div>

  <div class="alert alert-danger" [@fade]="isActionFailed">
    {{ action_msg }}
  </div>

  <div class="container">
    <!-- Tool info + delete button -->
    <div>
      <div *ngFor="let item of tool_info | keyvalue">
        Key: <b>{{ item.key }}</b> and Value: <b>{{ item.value }}</b>
      </div>

      <button
        (click)="delete_tool()"
        *ngIf="tool_info.is_my_tool"
        class="btn btn-outline-danger"
      >
        Delete tool
      </button>
    </div>
    <!-- Ask for borrow section -->
    <div *ngIf="!tool_info.is_my_tool && !requests.my">
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="expiration_date">Expiration Date</label>
          <input
            exp
            type="text"
            class="form-control"
            placeholder="YYYY-MM-DD"
            data-provide="datepicker"
            name="expiration_date"
            [(ngModel)]="form.expiration_date"
            required
            #expiration_date="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && expiration_date.errors }"
          />
          <div
            *ngIf="expiration_date.errors && f.submitted"
            class="invalid-feedback"
          >
            Expiration Date is required!
          </div>
        </div>
        <div class="form-group">
          <label for="borrow_duration">Borrow Duration</label>
          <input
            type="borrow_duration"
            class="form-control"
            name="borrow_duration"
            [(ngModel)]="form.borrow_duration"
            required
            #borrow_duration="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && borrow_duration.errors }"
          />
          <div
            *ngIf="borrow_duration.errors && f.submitted"
            class="invalid-feedback"
          >
            <div *ngIf="borrow_duration.errors['required']">
              Borrow Duration is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Free text</label>
          <input
            type="content"
            class="form-control"
            name="content"
            placeholder="Hi there... can I borrow your tool please?"
            [(ngModel)]="form.content"
            #content="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && content.errors }"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Request</button>
        </div>
        <div class="form-group">
          <div
            *ngIf="f.submitted && isBorrowRequestFailed"
            class="alert alert-danger"
            role="alert"
          >
            Login failed: {{ borrowRequestErrorMessage }}
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="requests.my" class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Your request is {{ requests.my.status }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Expired in {{ requests.my.remaining_days }} days</h6>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <button 
        *ngIf="requests.my.status != 'approved'" 
        type="button" 
        class="btn btn-outline-danger"
        (click)="delete_pending_request()"
        >
          Withdraw request
        </button>
      </div>
    </div>
  </div>
</div>
