<div class="container">
  <header class="">
    <div *ngIf="table_attrs.entry_info.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" *ngFor="let attr_name of table_attrs.headers">
              {{ attr_name }}
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let user_info of table_attrs.entry_info; let i = index">
          <tr class="card-header">
            <th scope="row">{{ i + 1 }}</th>
            <td *ngFor="let attr_name of table_attrs.headers.slice(1)">
              {{ user_info[model_attr2headers[attr_name]] }}
            </td>
            <th>
              <aside>
                <i
                  class="fa-solid fa-eye btn"
                  *ngIf="user_info.show"
                  (click)="collapse(i)"
                ></i>
                <i
                  class="fa-solid fa-eye-slash btn"
                  *ngIf="!user_info.show"
                  (click)="expand(i)"
                ></i>
              </aside>
            </th>
          </tr>

          <tr>
            <td [attr.colspan]="table_attrs.headers.length">
              <div class="collapsible" [@collapse]="!user_info.show">
                <div *ngFor="let attr_name of table_attrs.card_attrs">
                  <div
                    class="row"
                    *ngIf="user_info[model_attr2headers[attr_name]]"
                  >
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{ attr_name }}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ user_info[model_attr2headers[attr_name]] }}
                    </div>
                  </div>
                </div>
                <hr />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class=" jumbotron text-justify justify-content-center d-flex"
      *ngIf="table_attrs.entry_info.length == 0 && !err_msg"
    >
      <i class="" aria-hidden="true">No data to display</i>
    </div>
    <div
      class="alert alert-danger text-justify justify-content-center d-flex" role="alert"
      *ngIf="table_attrs.entry_info.length == 0 && err_msg"
    >
      <i class="" aria-hidden="true">{{ err_msg }}</i>
    </div>
  </header>
</div>
