<div class="container">
  <aside class="w-100 mt-0">
    <div class="alert alert-success w-100" [@fade]="isActionSucceed">
      {{ action_msg }}
    </div>

    <div class="alert alert-danger w-100" [@fade]="isActionFailed">
      {{ action_msg }}
    </div>
  </aside>

  <div class="table">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <h3>Admin page</h3>
      </ol>
      <div class="row">
        <div class="col-5">
          <div class="card border-info mb-3 h-100">
            <div class="card-header">General information</div>
            <div class="card-body text-info">
              <h5 class="card-title">System updated information</h5>
              <div class="table">
                <div class="row">
                  <div class="col">

                  </div>
                  <div class="col">
                    
                  </div>
                </div>
              </div>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card border-primary mb-3 h-100">
            <div class="card-header">Organization code</div>
            <div class="card-body text-primary">
              <h5 class="card-title">Set new organiztion code</h5>
              <form
            name="organization_form"
            (ngSubmit)="f.form.valid && onSetOrganizationCode()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="organization_code">Organization code</label>
              <input
                type="text"
                class="form-control"
                name="organization_code"
                [(ngModel)]="organization_form.organization_code"
                required
                minlength="6"
                maxlength="20"
                #organization_code="ngModel"
                [ngClass]="{
                  'is-invalid': f.submitted && organization_code.errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="organization_code.errors && f.submitted"
              >
                <div *ngIf="organization_code.errors['required']">
                  Organization code is required
                </div>
                <div *ngIf="organization_code.errors['minlength']">
                  Organization code must be at least 6 characters
                </div>
                <div *ngIf="organization_code.errors['maxlength']">
                  Organization code must be at most 20 characters
                </div>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block">
                Update organization code
              </button>
            </div>
          </form>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
      </div>
    </nav>
  </div>
</div>
